{% load i18n rangefilter_compat %}
<details data-filter-title="{{ title }}" open>
<summary>{% blocktranslate with filter_title=title %} By {{ filter_title }} {% endblocktranslate %}</summary>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
<style nonce="{{ spec.request.csp_nonce }}">
    {% default_css_vars_if_needed %}
    .admindatefilter {
        margin: 5px 0;
        padding: 0 15px 15px;
        border-bottom: 1px solid var(--hairline-color);
    }
    .admindatefilter:last-child {
        border-bottom: none;
    }
    .admindatefilter p {
        padding: 0;
        margin: 0 0 4px 0;
        line-height: normal;
    }
    .admindatefilter p.datetime {
        line-height: normal;
    }
    .admindatefilter .timezonewarning {
        display: none;
    }
    .calendarbox { z-index: 1100; }
    .clockbox { z-index: 1100; }
</style>

<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript" nonce="{{ spec.request.csp_nonce }}">
    function embedScript(url) {
        return new Promise(function pr(resolve, reject) {
            var newScript = document.createElement("script");
            newScript.type = "text/javascript";
            newScript.src = url;
            newScript.onload = resolve;
            if ("{{ spec.request.csp_nonce }}" !== "") {
                newScript.setAttribute("nonce", "{{ spec.request.csp_nonce }}");
            }
            document.head.appendChild(newScript);
        });
    }

    django.jQuery(window).on('load', function () {
        if (!('DateTimeShortcuts' in window)) {
            var promiseList = [];

            {% for m in spec.form.js %}
                promiseList.push(embedScript("{{ m }}"));
            {% endfor %}

            Promise.all(promiseList).then(function() {
                django.jQuery('.datetimeshortcuts').remove();
                if ('DateTimeShortcuts' in window) {
                    window.DateTimeShortcuts.init();
                }
            });
        }
    });
</script>

{% block quick-select-choices %}{% endblock %}

{# Рендерим только инпуты — без <form> и кнопок. Они войдут в единую форму #changelist-filter-form. #}
<div class="admindatefilter">
    {{ spec.form.as_p }}
</div>
</details>
